body {
  display: grid;
  margin: 0;
  padding: 0;
  place-items: center;
  height: 100vh;
  font-family: system-ui;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}